{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
